@import "tailwindcss";

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 21px !important;
}

/* Increase icon size in the toolbar */
body .w-md-editor-toolbar svg {
  width: 19px !important;  /* default is around 16px */
  height: 19px !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica;
}
